:root {
  --main-color: antiquewhite;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "cairo", sans-serif;
}

section {
  padding: 50px 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/** small **/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/** medium **/
@media (min-width: 991px) {
  .container {
    width: 970px;
  }
}

/** large **/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/** End Global Roles **/

.header {
  background-color: var(--main-color);
  padding: 20px 0;
  height: 80px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .container h1 {
  font-weight: bold;
  font-size: 30px;
}

.header .container .nav a {
  font-size: 24px;
  margin: 0 10px;
}
/* ********************** */

.footer {
  background-color: rgb(36, 36, 36);
  padding: 20px 0;
  margin: 0;
  color: gray;
  text-align: center;
  height: 60px;
}

.home {
  background-image: url(./images/home.png);
  background-size: cover;
  background-position: center;

  background-repeat: no-repeat;
  filter: brightness(80%);
  height: calc(100vh - 140px);
}

.home .container {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  filter: brightness(100%);
  color: white;
}

.home h1 {
  filter: brightness(100%) !important;
  position: relative;
  z-index: 10;
  font-size: 40px;
}

.home button {
  background-color: orange;
  color: white;
  width: 100%;
  border-radius: 10px;
  font-size: 20px;
  padding: 20px;
  font-weight: bold;
}

/* ************************************** */

.about {
  background-color: var(--main-color);
}

.about .container {
  height: 100%;
  padding-bottom: 30px;
}

.about img {
  width: 100%;
}

.about .info {
  line-height: 1.5;
}

.about .explore {
  background-color: rgb(246, 182, 99);
  border-radius: 10px;
  padding: 20px 30px;
  
}

.about .explore button {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 15px 25px;
}
