:root {
  --main-color: antiquewhite;
}
* {
  box-sizing: border-box;
  
}

a {
  text-decoration: none;
  color: unset;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

body {
  font-family: "cairo", sans-serif;
}

section {
  padding: 50px 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/** small **/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/** medium **/
@media (min-width: 991px) {
  .container {
    width: 970px;
  }
}

/** large **/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/** End Global Roles **/

.header {
  background-color: var(--main-color);
  padding: 20px 0;
  height: 80px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .container h1 {
  font-weight: bold;
  font-size: 30px;
  transition: ease .3s;
}

.header .container h1.selected{
  border-bottom:solid ;
}

.header .container .nav a {
  font-size: 24px;
  margin: 0 10px;
  transition: ease .7s;
}

.header .container .nav a.selected{
  border-bottom: solid ;

}
/* ********************** */

.footer {
  background-color: rgb(36, 36, 36);
  padding: 20px 0;
  margin: 0;
  color: gray;
  text-align: center;
  height: 60px;
  width: 100%;
}

.home {
  background-image: url(./images/home.png);
  background-size: cover;
  background-position: center;

  background-repeat: no-repeat;
  filter: brightness(80%);
  height: calc(100vh - 140px);
}

.home .container {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  filter: brightness(100%);
  color: white;
}

.home h1 {
  filter: brightness(100%) !important;
  position: relative;
  z-index: 10;
  font-size: 40px;
}

.home button {
  background-color: orange;
  color: white;
  width: 100%;
  border-radius: 10px;
  font-size: 20px;
  padding: 20px;
  font-weight: bold;
}

/* ************************************** */

.about {
  scrollbar-width: none;
  background-color: var(--main-color);
}

.about .container {
  height: 100%;
  padding-bottom: 30px;
}

.about img {
  width: 100%;
}

.about .info {
  line-height: 1.5;
}

.about .explore {
  background-color: rgb(246, 182, 99);
  border-radius: 10px;
  padding: 20px 30px;
}

.about .explore button {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 15px 25px;
}

/*** VAN PAGES ***/
.van-list-container {
  padding-inline: 23px
}

.van-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 34px;
  margin-top: 57px;
  margin-bottom: 25px;
}

.van-tile a {
  color: #161616;
  text-decoration: none;    
}

.van-tile img {
  max-width: 100%;
  border-radius: 5px;
}

.van-list-container button {
  margin-right: 20px;
  cursor: pointer;

}

.van-type {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #FFEAD0;
  color: #4D4D4D;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #FFEAD0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
  background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
  background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4D4D4D;
}

i[class*='van-type-'] {
  padding: 7px 14px;
}


.van-detail-container {
  padding-bottom: 27px;
}

.van-detail-container .back-button {
  color: black;
  text-decoration: none;
}

.van-detail-container .back-button:visited {
  
}

.van-detail-container .back-button span {
  text-decoration: underline;
}

.van-detail {
  display: flex;
  flex-direction: column;
  color: #161616;
}

.van-detail img {
  border-radius: 5px;
  margin-block: 47px;
}

.van-detail h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.van-detail > i {
  align-self: flex-start;
}

.van-detail .van-price {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.van-detail .van-price span {
  font-weight: 700;
  font-size: 1.5rem;
}

.van-detail .link-button {
  background-color: #FF8C38;
  color: white;
  border-radius: 5px;
  padding: 15px;
  border: none;
  font-size: 1.125rem;
}
